/* ==========================================================================
   Base Styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Raleway|Quantico');

body {
  margin: 0;
  padding: 5rem 0;
  font: small-caps normal 1.2rem/1.5 Raleway, sans-serif;
}